/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

/* Header styles */
header {
    background-color: #171a21;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline-block;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #4b8f3b;
}

.user-info img {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info span {
    font-weight: bold;
}

/* Main styles */
main {
    padding: 20px;
    overflow-y: auto; /* Enable vertical scrollbar */
}

.featured-games, .categories, .more-content {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.featured-games h2, .categories h2, .more-content h2 {
    margin-bottom: 10px;
    color: #333;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.game-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.game-card img {
    width: 100%;
    border-radius: 5px;
}

.game-card h3 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.game-card p {
    color: #666;
}

.game-card button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #4b8f3b;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.categories ul {
    list-style-type: none;
    padding: 0;
}

.categories li {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.categories li img {
    width: 30px;
    margin-right: 10px;
}

.categories li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

/* Footer styles */
/* Footer styles */
.footer {
    background-color: #171a21;
    color: #8c8c8c;
    padding: 20px;
    font-size: 14px;
}

.footer p {
    margin-bottom: 10px;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer-links ul li {
    margin-right: 20px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #8c8c8c;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.footer-links ul li a:hover {
    color: #c7d5e0;
}
